<div class="ibox ">
    <div class="ibox-content">
        <div>
            <span class="float-right text-right">
                <small>Average value of sales in the past month in: <strong>United states</strong></small>
                <br />
                All sales: 162,862
            </span>
            <h3 class="font-bold no-margins">
                Half-year revenue margin
            </h3>
            <small>Sales marketing.</small>
        </div>

        <div class="m-t-sm">

            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-4">
                     <div>
                            <canvas id="barChart" ></canvas>
                        </div>
                </div>
            </div>

        </div>

        <div class="m-t-md">
            <small class="float-right">
                <i class="fa fa-clock-o"> </i>
                Update on 16.07.2015
            </small>
            <small>
                <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
            </small>
        </div>

    </div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "Get",
            url: '@Url.Action("Invoke","BarChart",new RouteValueDictionary(new {id=Model.Id}))',
            contentType: "application/json",
            dataType: "json",
            success: function (response) {
                var data = response.revenue;
                var data2 = response.timestamp;
                var data3 = response.earnings;
                var ctx = document.getElementById("barChart").getContext('2d');

                var barChart = new Chart(ctx, {
                    type: 'bar',

                    data: {
                        labels: data2,
                        datasets: [{
                            label: 'Revenue',
                            data: data,
                            borderWidth: 5,
                            radius: 2,
                            backgroundColor: 'rgb(151, 198, 131)',
                            borderColor: 'rgb(151, 198, 131)',

                            tension: 0.3
                        },
                        {
                        labels: data2,
                        datasets: [{
                            label: 'Earnings',
                            data: data3,
                            borderWidth: 5,
                            radius: 2,
                            backgroundColor: 'rgb(131, 123, 112)',
                            borderColor: 'rgb(151, 198, 131)',

                            tension: 0.3
                        },
                        ]
                    },
                    options: {

                        responsive: true,
                        scales:{
                            y:{
                                beginAtZero:true
                            }
                        }
                });
            },
            error: function (response) {
                alert(response.responseText);
                console.log("This is ERROR line");
            }
        });
        resetZoomBtn = (chart) => {
            console.log("merbah")
            chart.resetZoom()
        };

    });
</script>