@model EntityLayer.Dto.UserProfile
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@if (Model.favs.Count > 0)
{
    <h4>Favorites</h4>
    <ul class="list-group clear-list m-t">
        @foreach (var item in Model.favs)
        {
            <li class="list-group-item fist-item">
                <span class="float-right">

                </span>
                <span class="label label-success"></span> @item.Profile.Symbol
            </li>
        }


    </ul>
}

