<head>
    @Html.AntiForgeryToken()
    <link rel="stylesheet" href="~/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LiraProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

@*<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>

        <form autocomplete="off" class="navbar-form-custom " id="searchForm">

            <input class="form-control" id="searchId" type="text" placeholder="Search for symbol..." name="symbol">

        </form>

    </div>
    <ul class="nav navbar-top-links navbar-right">


        <li class="dropdown">
            <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                <i class="fa fa-bell"></i> Upgrade Pro
            </a>

        </li>


        <li>
            <a asp-controller="Login" asp-action="Logout">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
        <li>
            <a class="right-sidebar-toggle">
                <i class="fa fa-tasks"></i>
            </a>
        </li>
    </ul>
    <input type="hidden" id="search-box-id">
</nav>*@
<nav class="navbar navbar-fixed-top navbar-primary navbar navbar-expand-lg border-gray" role="navigation">
    <ul class="navbar-nav">
        <li>
            <a class=" minimalize-styl-2 btn btn-primary" href="#">
                <i class="fa fa-home"></i>
            </a>
        </li>
        <li>
            @*<form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="searchForm">
                </div>
            </form>*@
            <form autocomplete="off" class="navbar-form-custom " id="searchForm">

                <input class="form-control" id="searchId" type="text" placeholder="Search for symbol..." name="symbol">

            </form>
        </li>
        <li class="nav-item d-none d-sm-inline-block btn">
            <a class=" nav-link" href="#" style="display: block; font-size: 16;">Today</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block btn">
            <a class=" nav-link" href="#" style="display: block; font-size: 16;">Latest Balances</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block btn">
            <a class=" nav-link" href="#" style="display: block; font-size: 16;">Radar</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block btn">
            <a class=" nav-link" href="#" style="display: block; font-size: 16;">Take backs</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block btn">
            <a class=" nav-link" href="#" style="display: block; font-size: 16;">New Business Relations</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block btn">
            <a class=" nav-link" href="#" style="display: block; font-size: 16;">Sectors</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block btn">
            <a class=" nav-link" href="#" style="display: block; font-size: 16;">Academy</a>
        </li>

    </ul>

    <ul class="nav navbar-top-links navbar-right navbar-nav ml-auto dropdown " style="position: fixed-right;">
        <li>
            <div class="dropdown profile-element ">

                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <span class="block"><i class="fa fa-user"><b class="caret"></b></i></span>

                </a>

                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a class="dropdown-item" href="profile.html">Profile</a></li>
                    <li><a class="dropdown-item" href="contacts.html">Contacts</a></li>
                    <li><a class="dropdown-item" href="mailbox.html"><i class="fa fa-envelope">Mailbox</i></a></li>
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="login.html"><i class="fa fa-sign-out">Logout</i></a></li>

                </ul>
            </div>
        </li>





    </ul>
    <input type="hidden" id="search-box-id">
</nav>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/dataTables.bootstrap5.min.js"></script>
<script src="https://kit.fontawesome.com/c2396ab2b3.js" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $("#searchId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("Search", "Default")',
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    data: { "term": request.term },
                    dataType: "json",

                    success: function (data) {
                        response($.map(data, function (item) {
                            return item;
                        }))
                    },
                    error: function (xhr, textStatus, error) {
                        alert(xhr.statusText);
                        alert(textStatus);
                        alert("errorr");
                    },
                    failure: function (response) {
                        alert("failure " + response.responseText);
                    }
                });
            },
            select: function (e, i) {
                window.location.href = "/Company/Index/" + i.item.id;
                //$('#hiddenId').val(i.item.value);
                return false;
            },

            minLength: 1
        }).autocomplete("instance")._renderItem = function(ul, item) {
    return $("<li>")
      .append("<div>" + item.symbol + "</div>")
      .appendTo(ul);
  };
    });


</script>
