<section id="features" class="container services">
    <div class="row">
        <div class="col-sm-3">
            <h2>Financial Tables</h2>
            <p>Access the relevant company's balance sheet, income statement, quarterly income statement and cash flow statement. Export financial statements to Excel for your individual work, view them in foreign currency.</p>
            <p><a class="navy-link" role="button" asp-controller="Login" asp-action="SignUp">Sign Up &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Radar</h2>
            <p>Choose the one you want among dozens of criteria, and find companies matching your criteria in seconds via Lira of Investment Radar.</p>
            <p><a class="navy-link" role="button" asp-controller="Login" asp-action="SignUp">Sign Up &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Comparison</h2>
            <p>Instantly compare the latest data between two companies</p>
            <p><a class="navy-link" role="button" asp-controller="Login" asp-action="SignUp">Sign Up &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Graphs</h2>
            <p>You can see the data for the last 5 years about the company. Many kinds of graphics are waiting for you.</p>
            <p><a class="navy-link" role="button" asp-controller="Login" asp-action="SignUp">Sign Up &raquo;</a></p>
        </div>
    </div>
</section>