<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lira of Investment</title>

    <!-- Bootstrap core CSS -->
    <link href="~/inspinia-gh-pages/inspinia-gh-pages/css/bootstrap.min.css" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="~/inspinia-gh-pages/inspinia-gh-pages/css/animate.css" rel="stylesheet">
    <link href="~/inspinia-gh-pages/inspinia-gh-pages/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/inspinia-gh-pages/inspinia-gh-pages/css/style.css" rel="stylesheet">
</head>