@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Header -->
@await Html.PartialAsync("/Views/Default/HeaderPartial.cshtml")

<body id="page-top" class="landing-page no-skin-config">

    <!-- Navbar -->
    @await Html.PartialAsync("/Views/Default/NavbarPartial.cshtml")

    <!-- Carousel -->
    @await Html.PartialAsync("/Views/Default/CarouselPartial.cshtml")


    <!-- Feature -->
    @await Html.PartialAsync("/Views/Default/FeaturePartial.cshtml")

    <section class="container features">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Over 40+ unique view<br /> <span class="navy"> with many custom components</span> </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-center wow fadeInLeft">
                <div>
                    <i class="fa fa-mobile features-icon"></i>
                    <h2>Financial Tables</h2>
                    <p>Access the relevant company's balance sheet, income statement, quarterly income statement and cash flow statement. Export financial statements to Excel for your individual work, view them in foreign currency.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-bar-chart features-icon"></i>
                    <h2>Comparison</h2>
                    <p>Instantly compare the latest data between two companies</p>
                </div>
            </div>
            <div class="col-md-6 text-center  wow zoomIn">
                <img src="~/inspinia-gh-pages/inspinia-gh-pages/img/landing/perspective.png" alt="dashboard" class="~/inspinia-gh-pages/inspinia-gh-pages/img-fluid">
            </div>
            <div class="col-md-3 text-center wow fadeInRight">
                <div>
                    <i class="fa fa-envelope features-icon"></i>
                    <h2>Radar</h2>
                    <p>Choose the one you want among dozens of criteria, and find companies matching your criteria in seconds via Lira of Investment Radar.</p>
                </div>
                <div class="m-t-lg">
                    <i class="fa fa-google features-icon"></i>
                    <h2>Graphs</h2>
                    <p>You can see the data for the last 5 years about the company. Many kinds of graphics are waiting for you.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Team List -->
    @await Component.InvokeAsync("TeamList")

    <section class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Even more great feautres</h1>
                </div>
            </div>
            <div class="row features-block">
                <div class="col-lg-3 features-text wow fadeInLeft">
                    <small>Lira of Investment</small>
                    <h2>Perfectly designed </h2>
                    <p>The theme is designed with great emphasis on eye comfort. It is one step ahead of its competitors with its user interface friendliness.</p>
                </div>
                <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                    <img src="~/inspinia-gh-pages/inspinia-gh-pages/img/landing/iphone.jpg" class="img-fluid" alt="dashboard">
                </div>
                <div class="col-lg-3 features-text text-right wow fadeInRight">
                    <small>Lira of Investment</small>
                    <h2>Favorites </h2>
                    <p>By adding the relevant companies to the favorite box, you can access the latest news, latest data and instant low-rise charts about the company.</p>
                </div>
            </div>
        </div>

    </section>
   
    <section id="testimonials" class="navy-section testimonials" style="margin-top: 0">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center wow zoomIn">
                    <i class="fa fa-comment big-icon"></i>
                    <h1>
                        What our users say
                    </h1>
                    <div class="testimonials-text">
                        <i>"According to many competitors, it is an absolutely user-friendly site, where you can easily access all the data."</i>
                    </div>
                    <small>
                        <strong>05.03.20232 - Berkay</strong>
                    </small>
                </div>
            </div>
        </div>

    </section>

    <!-- Testimonial List -->
    @await Component.InvokeAsync("TestimonialList")


    <!-- Pricing -->
    @await Html.PartialAsync("/Views/Default/PricingPartial.cshtml")

    <!-- Contact -->
    @await Html.PartialAsync("/Views/Default/ContactPartial.cshtml")

    <!-- Scripts -->
    @await Html.PartialAsync("/Views/Default/ScriptPartial.cshtml")

</body>
</html>


