<section id="pricing" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>App Pricing</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Trial Subscription
                    </li>
                    <li class="pricing-desc">
                        You can try all the features below for only 1 TL for 1 week
                    </li>
                    <li class="pricing-price">
                        <span>1₺</span> / week
                    </li>
                    <li>
                        Graphs
                    </li>
                    <li>
                        Comparison
                    </li>
                    <li>
                        Favorites
                    </li>
                    <li>
                        Financial Tables
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" asp-controller="Login" asp-action="SignUp">SignUp</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Standard Subscription
                    </li>
                    <li class="pricing-desc">
                        You can use all that functions below for 1 month
                    </li>
                    <li class="pricing-price">
                        <span>20₺</span> / month
                    </li>
                    <li>
                        Graphs
                    </li>
                    <li>
                        Comparison
                    </li>
                    <li>
                        Favorites
                    </li>
                    <li>
                        Financial Tables
                    </li>
                    <li>
                        Radar
                    </li>
                    <li class="plan-action">
                        <a class="btn btn-primary btn-xs" asp-controller="Login" asp-action="SignUp">SignUp</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-4 wow zoomIn">
                <ul class="pricing-plan list-unstyled">
                    <li class="pricing-title">
                        Annual Subscription
                    </li>
                    <li class="pricing-desc">
                        Get a 12-month membership for just 10 months
                    </li>
                    <li class="pricing-price">
                        <span>200₺</span> / year
                    </li>
                    <li>
                        Graphs
                    </li>
                    <li>
                        Comparison
                    </li>
                    <li>
                        Favorites
                    </li>
                    <li>
                        Financial Tables
                    </li>
                    <li>
                        Radar
                    </li>
                    <li>
                        <a class="btn btn-primary btn-xs" asp-controller="Login" asp-action="SignUp">SignUp</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-lg-12 text-center m-t-lg">
                <p>*As a member, you can build your own financial future.</p>
            </div>
        </div>
    </div>

</section>