@{
    Layout = null;
}

<!DOCTYPE html>

<!-- Head -->
@await Html.PartialAsync("/Views/Admin/PartialHead.cshtml")


<html>

<body class="top-navigation">
    
       <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                @await Html.PartialAsync("/Views/Company/CompanyNavbarPartial.cshtml")
                </div>
                <div class="wrapper wrapper-content">
                @RenderBody()
                </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong> Lira of Investment &copy; 2022-2023
                </div>
            </div>
           </div>
       </div>
       @await Html.PartialAsync("/Views/Admin/PartialScript.cshtml")
</body>
</html>
